#workout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25%;
    transform: rotate(3deg);
  }
body{
    overflow: hidden;
    overflow-y: hidden;
}